<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>login画面</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
    <link th:href="@{css/login.css}" rel="stylesheet">
</head>
<body class="d-flex align-items-center justify-content-center bg-light">
    <div class="border shadow p-5">
        <div class="border-bottom mb-5">
            <i class="fa-brands fa-twitter"></i>
            <span class="twitter-title fw-bold">簡易Twitter</span>
        </div>
        <h3 class="text-center mb-3">ログイン</h3>
        <div class="alert alert-info" role="alert" th:if="${param.logout}" th:text="#{i.001}"></div>
        <div class="alert alert-info" role="alert" th:if="${param.unlockSuccess}" th:text="#{i.003}"></div>
        <div class="alert alert-danger" role="alert" th:if="${param.auth}" th:text="#{e.001}"></div>
        <div class="alert alert-danger" role="alert" th:if="${param.error}" th:text="#{e.002}"></div>
        <div th:if="${param.lock}">
            <div class="alert alert-danger" role="alert" th:text="#{e.005}"></div>
            <div class="mb-3" >アカウントロックを解除する場合は<a th:href="@{/unlock}">解除手続き</a>を行ってください。</div>
        </div>
        <form th:method="post" th:action="@{/login}">
            <div class="form-floating mb-3">
                <input type="text" name="username" class="form-control" id="inputName">
                <label for="inputName">ユーザー名</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" name="password" class="form-control" id="inputPassword">
                <label for="inputPassword">パスワード</label>
            </div>
            <button class="btn btn-primary mb-3 py-3 w-100" type="submit">ログイン</button>
        </form>

        <div>
            アカウントをお持ちでない場合は<a th:href="@{/signup}">ユーザー登録</a>を行ってください。
        </div>
    </div>
</body>
</html>